@charset "UTF-8";

/*This is the stylsheet for personal website*/
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    background-color:#454445;
    font-family:Arial, Helvetica, sans-serif;
}

p   {
    font-size:16px;
}

img {

    border:5px solid #454445;
    margin-left:5%;
    float:right;
    width:35%
}

header {
    border:5px solid #454445;
    line-height:24px;
    background-color:#53a1b8;
    color:#FFFFFF;
    font-family:Futura,"Trebuchet MS",Arial, sans-serif;
    text-align:center;
    padding-bottom:10px;
    margin:0 8% 0 8%;
}

header h1 {
    padding:35px 20px 45px 20px;
    font-size:86px;
    font-weight:100;
    line-height:86px;
}

header nav {
    text-align:center;
    background-color:#53a1b8;
    padding-bottom:5px;
    padding-top:5px;
    line-height:28px;
}

header nav a {
    
    color:#ffffff;
    font-weight:300;
    text-decoration:none;
    font-size:28px;
    margin-top:0;
    margin-right:7%;
    margin-bottom:0;
    margin-left:0;
    padding:5px 5px 5px 5px;
    text-align:center;
    font-family:Futura,"Trebuchet MS",Arial, sans-serif;
}

header nav a:hover {
    color:#454445;
}

article {
    background:#FFFFFF;
    padding:1em;
    color:#000000;
    line-height:24px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:left;
    margin-left:8%;
    margin-right:8%;
    padding:25px 5% 25px 5%;
    border:5px solid #454445;
}

article h1 {
    color:#53a1b8;
    font-size:26px;
    font-weight:200;
    margin-bottom:15px;
}

article p{
    font-size:16px;
}

article a:link{
    color:#53a1b8;
    text-decoration:underline;
}

article a:visited{
    color:purple;
}

article ul {
    Font-size:16px;
    margin-left:5%;
}

footer {
    border:5px solid #454445;
    background-color:#454445;
    color:#FFFFFF;
    font-family:Futura,"Trebuchet MS",Arial, sans-serif;
    text-align:center;
    padding-bottom:10px;
    padding-top:10px;
    margin:0 100px 0 100px;
    clear:both;
}

footer p {
    font-size:12px;
    padding-top:10px;
}

footer p a {
    font-size:12px;
    padding-top:10px;
}

footer a {
    color:#FFFFFF;
    font-size:28px;
    font-weight:300;
    margin-right:7%;
    padding:5px 5px 5px 5px;
    text-align:center;
    font-family:Futura,"Trebuchet MS",Arial, sans-serif;
    text-decoration:none
}

footer a:hover {
    color:#53a1b8;
}

@media screen and (max-width: 600px) {
    
    body {
        padding: 3%;
    }
    
    header {
        margin-left:25px;
        margin-right:25px;
    }
    
    header h1 {
        font-size:58px;
        margin-bottom:0;
    }
    
    header nav {
        margin-top:0;
    }
    
    header nav a {
        font-size:30px;
        display:inline;
        margin-bottom:5px;
        padding-left:60px;
        text-align:center;
    }
    
    nav {
        width: 100%;
    }
    
    article {
        margin-left:25px;
        margin-right:25px;
    }
    
    #content {
        clear: left;
        margin-left: 0;
        width: 100%;
    }
}        
    
    