h1 {
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
}

body {
    background:#53a1b8;
    font-family:Arial, Helvetica, sans-serif;
}

/*LAYOUT RULES*/

header {
    padding: 0.625em 5%;
    font-family:Futura,"Trebuchet MS",Arial, sans-serif;
    font-weight:400;
    color:#53a1b8;
}

nav {
    background:#53a1b8;
    padding:0.625em 5%;
}

article {
    background:#FFFFFF;
    padding:1.5em 5% 0.625em;
    color:#000000;
    font-family:Arial, Helvetica, sans-serif
    font-size:0.9em;
}

footer {
    padding:0.625em 5%;
    color:#FFFFFF;
    font-family:Futura,"Trebuchet MS",Arial, sans-serif
}

/* Rules for Headings */

header h1 {
    margin:10px 0;
    font-size:65px;
    padding-bottom:5px;
}

article h1 {
    font-family:Arial,Helvetica,sans-serif;
    font-size:24px;
    font-weight:500px;
    margin:0 0 20px;
    color:#53a1b8;
}

/* PARAGRAPHS */

article p {
    margin:16px 0;
}

/* LIST RULES */

article ul {
    margin:16px 0;
}
    
article li {
        list-style-type:circle;
        margin-left:24px;
        margin-bottom:12px;
}

nav a:link, nav a:visited {
    font-family:Futura,"Trebuchet MS",Arial, sans-serif;
    font-size:25px;
    padding: 0 16px;
    color:#FFFFFF;
    text-decoration:underline;
}

nav a:hover, nav a:active {
    color:#FFFFFF;
    text-decoration:underline;
}

article a:hover, article a:active {
    text-decoration:underline;
}
        
footer a:link, footer a:visited {
    font-family:Futura,"Trebuchet MS",Arial, sans-serif;
    font-size:25px;
    padding: 0 16px;
    color:#FFFFFF;
    text-decoration:underline;
    
        

    
    